.profile_contents
    .photos
        - posts.each do |post|
            .photo
                = link_to post_path(post.id) do
                    - if post.content_images.attached?
                        = image_tag post.content_images.first