.container
    %h2 コメント一覧
    -# - @comments.each do |comment|
    -#     .comment_list
    -#         .comment_avatar
    -#             = image_tag comment.user.avatar_image, class: "avatar"
    -#         .comment_text
    -#             %p.comment_name= comment.user.username
    -#             %p.comment_content= comment.content
    -# = form_with(model: @comment, url: post_comments_path(@comment.post), local: true) do |f|
    -#     %div
    -#         = f.label :content, 'コメント'
    -#     %div
    -#         = f.text_area :content
    -#     = f.submit 'コメントを投稿', class: 'btn-primary'