// color
$primary-color: #b4cce0;
$secondary-color: #eefcff;

$base-bg-color: #fff;
$board-bg-color: #fff;
$modal-bg-color: rgba(190, 226, 235, 0.63);

$text-base-color: #616161;
$comment-text-color: #848484;
$icon-border-color: rgb(165, 204, 209);
$btn-base-color: #2285b1;

// size
$font-lg: 20px;
$font-md: 16px;
$font-sm: 14px;

$heart-size: 32px;
$avatar-size: 32px;
$header-avatar-size: 40px;
$image_size: 46px;
$profile-image_size: 56px;
$back-icon-size: 16px;

// margin-padding
$container-padding: 16px;
$header-padding-y: 16px;