@import './variables';

.btn-primary {
    background-color: $primary-color;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary {
    background-color: $secondary-color;
    border: solid 1px $primary-color;
    width: 100%;
    text-align: center;
    color: $primary-color;
    padding: 16px 0;
    font-weight: bold;
    cursor: pointer;
}

.btn-cancel {
    background-color: $cancel-color;
    border: solid 1px $primary-color;
    width: 100%;
    text-align: center;
    color: $white-text-color;
    padding: 16px 0;
    font-weight: bold;
    cursor: pointer;
}

.modal-btn-primary {
    align-items: center;
    margin: 0 auto;
    padding: 0.8em 2em;
    width: 300px;
    color: $btn-base-color;
    background-color: $base-bg-color;
    font-size: $font-sm;
    font-weight: 700;
    border: 2px solid $btn-base-color;
    border-radius: 10px;
}