@import './variables';


.comment_list {
    display: flex;
    margin-bottom: 30px;
    p {
        margin: 0;
    }
    .comment_avatar {
        margin-right: 10px;
    }
    .comment_name {
        font-weight: 600;
        margin-bottom: 5px;
    }
    .comment_content {
        font-size: $font-sm;
        color: $comment-text-color;
        word-break: break-all;
    }
}
