@import 'variables';


.footer {
    background: #333333;
    height: 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $white-text-color;
        margin: 0 10px;
        &:hover {
            color: #aaa;
        }
    }
}