@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 12px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $black-bg-color;
  padding: $header-padding-y 16px;
  font-weight: bold;
  height: 60px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 5;

  &_btn {
    display: flex;
    align-items: center;
    a {
      line-height: 8px;
      margin-left: 10px;
    }
  }

  &_logos {
    min-width: 0;
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      width: $back-icon-size;
      height: $back-icon-size;
    }

    .header_new {
      width: $back-icon-size +15;
      height: $back-icon-size +15;
    }
  }


  &_pageTitle {
    line-height: $avatar-size;
    font-size: $font-sm;
    margin-left: 5px;
    a {
      color: $white-text-color;
    }
  }
}