@import './variables';

.post_content {
    border: solid 1.5px rgb(204, 204, 204);
    padding: 10px;
    margin: 20px auto;
    .content_info {
        display: flex;
        align-items: center;
        &_text {
            margin-left: 5px;
            p {
                margin: 0;
            }
        }
        .text_name {
            font-weight: 600;
            font-size: $font-sm;
        }
        .text_day {
            font-size: $font-sm - 3;
        }
    }
    .content_images {
        margin-bottom: 10px!important;
    }
    .content_icon {
        display: flex;
        .post_icon {
            width: 24px;
            margin: 0 20px 0 0;
        }
    }
    .content_body {
        p {
            font-size: $font-md;
        }
    }
}