.container#profile{data: {id: current_user.id}}
    .profile{data: {id: @user.id}}
        .profile_name 
            %p= @user.username
        .profile_avatar 
            = image_tag @user.avatar_image, class: "avatar"
        .profile_follow 
            - if @user != current_user
                %p.btn-following.hidden Following
                %p.btn-follow.hidden Follow

        = render 'commons/count'

        = render 'commons/post_list', posts: @posts